.form {
    background-color: #fff;
    padding: 35px 0 42px;
    position: relative;
    &__inner {
        background: url("../img/gerl.jpg") bottom right no-repeat;
        min-height: 460px;
    }
    &__box {
        margin-top: 40px;
        max-width: 850px;
        width: 100%;
        &-inner {
            display: flex;
            justify-content: space-between;
            label,
            input,
            textarea {
                display: block;
                width: 100%;
            }
            label {
                line-height: 2.57;
                color: #282828;
                font-family: "Roboto", sans-serif;
                margin-left: 5px;
            }
            input {
                margin-bottom: 8px;
                outline: none;
                height: 40px;
                border: solid 1px #e6e6e6;
                padding: 0px 10px;
            }
            textarea {
                outline: none;
                height: 206px;
                border: solid 1px #e6e6e6;
                padding: 10px;
                resize: none;
            }
        }
        &-left {
            max-width: 260px;
            width: 100%;
        }
        &-right {
            max-width: 555px;
            width: 100%;
        }
    }
    &__btn {
        color: #000;
        float: right;
        margin-top: 42px;
    }
    .jq-selectbox.jqselect {
        display: block;
        width: 100%;
    }
    .jq-selectbox__select {
        height: 40px;
        border: 1px solid #e6e6e6;
        padding-left: 17px;
    }
    .jq-selectbox__trigger-arrow:before {
        font-family: "icomoon";
        content: "\f105";
        position: absolute;
        right: 17px;
        top: 10px;
        transform: rotate(90deg);
    }
    .jq-selectbox__select-text {
        padding-top: 10px;
    }
    .jq-selectbox__dropdown {
        width: 100%;
        margin: 4px 0 0;
        padding: 0;
        border: 1px solid #e6e6e6;
        background: #fff;
        box-shadow: 0 2px 10px rgba( 0, 0, 0, 0.2);
        font: 14px/18px Arial, sans-serif;
    }
    .jq-selectbox li {
        min-height: 18px;
        padding: 5px 17px 6px;
        color: #231F20;
    }
    .jq-selectbox li.selected {
        background-color: #A3ABB1;
        color: #FFF;
    }
    .jq-selectbox li:hover {
        background-color: #08C;
        color: #FFF;
    }
    .jq-selectbox li.disabled {
        color: #AAA;
    }
    .jq-selectbox li.disabled:hover {
        background: none;
    }
    .jq-selectbox li.optgroup {
        font-weight: bold;
    }
    .jq-selectbox li.optgroup:hover {
        background: none;
        color: #231F20;
        cursor: default;
    }
    .jq-selectbox li.option {
        padding-left: 25px;
    }
}