.news {
    padding: 55px 0px 109px;
    background-color: #f9f9f9;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
        position: relative;
        .slick-btn {
            top: auto;
            bottom: -140px;
        }
        .slick-next {
            right: -35px;
        }
        .slick-prev {
            right: 22px;
            left: auto;
        }
        .slick-disabled {
            border: solid 1px #dadada;
            &:after {
               color: #dadada; 
            }
        }
    }
    &__slider {
        max-width: 555px;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 5px 15.4px 0.6px rgba(128, 127, 127, 0.13);
        padding: 60px 35px 45px 70px;
        position: relative;
        &:before {
            font-family: "icomoon";
            content: "\f10e";
            position: absolute;
            top: 0;
            left: 70px;
            width: 65px;
            height: 31px;
            background-color: #ffc222;
            color: #ffffff;
            font-size: 16px;
            text-align: center;
            line-height: 31px;
        }
        &-title {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.33;
            letter-spacing: 0.9px;
            color: #242424;
        }
        &-text {
            line-height: 1.29;
            letter-spacing: 0.14px;
            margin-top: 16px;
        }
        &-author {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            line-height: 1.29;
            letter-spacing: 0.14px;
            color: #212020;
            margin-top: 35px;
        }
    }
    &__blog {
        max-width: 260px;
        width: 100%;
        &-title {
            font-family: "Roboto", sans-serif;
            padding: 15px 0;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.13;
            letter-spacing: 0.8px;
            color: #242424;
        }
        &-text {
            line-height: 1.29;
            letter-spacing: 0.14px;
            color: #5e5e5e;
        }
    }
    &__img {
        position: relative;
    }
    &__date {
        position: absolute;
        width: 47px;
        height: 54px;
        background-color: #ffc222;
        color: white;
        text-align: center;
        padding-top: 25px;
        font-weight: 700;
        top: 0;
        left: 10px;
    }
}